 .u-section-1 {
  background-image: linear-gradient(#fffefc, #e9c18e);
}

.u-section-1 .u-sheet-1 {
  min-height: 759px;
}

.u-section-1 .u-text-1 {
  width: 525px;
  text-transform: none;
  font-size: 4.5rem;
  font-family: "Courier New", monospace;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 83px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 567px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-family: Allerta;
  margin: 0;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-family: Allerta;
  margin: 0;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  letter-spacing: 0px;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0px;
  margin: 30px auto 0 0;
  padding: 18px 46px 20px 45px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 474px;
  background-image: linear-gradient(#fffefc, #e9c18e);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 27px 30px;
}

.u-section-1 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("images/fggf.jpg");
  background-position: 50% 50%;
  margin: -95px auto 0;
}

.u-section-1 .u-text-7 {
  font-family: "PT Sans Caption";
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 30px 13px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 391px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-1 .u-btn-2 {
    padding: 13px 31px 13px 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 143px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 2;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    order: 1;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 459px;
    order: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 281px;
    height: 281px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}