 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 672px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 841px;
  font-weight: 300;
  text-decoration: underline !important;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-1 .u-form-1 {
  height: 458px;
  width: 855px;
  margin: 39px auto 60px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-form-group-4 {
    width: 100%;
  }

  .u-section-1 .u-form-group-5 {
    width: 100%;
  }

  .u-section-1 .u-form-group-6 {
    width: 100%;
  }
}