 .u-section-1 {
  background-image: linear-gradient(#fffefc, #e9c18e);
}

.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-form-1 {
  height: 815px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-label-1 {
  font-weight: 900;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 900;
}

.u-section-1 .u-label-3 {
  font-weight: 900;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 900;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 900;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 900;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 900;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-weight: 900;
}

.u-section-1 .u-label-9 {
  font-weight: 900;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
}